
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> development-tools ###
/.idea/
/.fleet/
/.vscode/*.log
/.phpunit.result.cache
/deploy/
*.log
###< development-tools ###

###> operating-system ###
.DS_Store
Thumbs.db
###< operating-system ###
